
.container {
    display: flex;
    margin: 0 -15px;
    
    width: 100vw;
    
}


.sidenav {
    width: 280px;
    background-color: #111;
    padding-top: 20px;
    min-height: 100vh;
    
    color: #818181;
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    flex: 1;
    
    padding: 20px;
    
}


.header {
    display: flex;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 15px;
}


.content {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
}