@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.sidebar {
  height: 100vh;
  background-color: #51a8b1;
  color: #fff;
  padding-top: 20px;
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo h5 {
  padding: 10px;
  margin: 0; /* Remove default margin for h5 */
}

.sidebar-logo img {
  width: 50px; /* Ubah sesuai kebutuhan */
  height: auto;
}

.sidebar-menu {
  margin-top: 50px;
  list-style-type: none;
  padding: 3px;
  font-size: 15px;
}

.sidebar-menu li {
  margin-bottom: 25px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px 10px;
  transition: background-color 0.3s, border 0.3s;
}

.sidebar-menu img {
  padding: 7px;
  width: 30px;
  height: auto;
}

.sidebar-menu li:hover {
  background-color: #bdbdbd;
  border: 2px solid #bdbdbd;
}

.sidenav {
    width: 280px;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: var(--menu-background, rgba(162, 161, 168, 0.05));
    margin: 20px;
}

#main {
    flex: 1;
    padding: 10px;
    padding-top: 20px;

}


.header {
    
}

.content {
    
}

.span {
    font-family: Poppins;
}

.nama-user {
    color: var(--Dark-500, #16151C);
    /* Body-1 Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}

ul li {
    list-style-type: none;
}

.frekuensi {
    max-height: calc(100vh - 250px);
    overflow-y: auto;

}

.tabel-nilai {
    border-collapse: collapse;
    width: 100%;
}

.tabel-nilai th, .tabel-nilai td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabel-nilai th {
    background-color: #f2f2f2;
}

.tabel-nilai td {
    padding: 0;
}

.tabel-nilai .td-3 {
    text-align: left;
}

.tabel-nilai input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    outline: none;
    border: none;
}

.tabel-nilai input {
    text-align: center;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tabel-nilai tbody tr input:hover {
    background-color: #e0e0e0;
}

.tabel-nilai tbody tr:hover {
    background-color: #e0e0e0;
}

.line-stright {
    background-color: #A2A1A8;
    height: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumlah-frekuensi {
    color: var(--Gray-500, #A2A1A8);

    /* Caption Regular */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 150% */
}

.frekuensi, .data-mahasiswa {
  border: 1px solid #ddd;
  border-radius: 5px;
}

