@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.sidenav {
    width: 280px;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: var(--menu-background, rgba(162, 161, 168, 0.05));
    margin: 20px;
}

#main {
    flex: 1;
    padding: 10px;
    padding-top: 20px;

}


.header {
    
}

.content {
    
}

.span {
    font-family: Poppins;
}

.nama-user {
    color: var(--Dark-500, #16151C);
    /* Body-1 Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}

ul li {
    list-style-type: none;
}

.tabel-nilai {
    border-collapse: collapse;
    width: 100%;
}

.tabel-nilai th {
    background-color: #f2f2f2;
}

.tabel-nilai th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabel-nilai .td-3 {
    text-align: left;
}

.jumlah-frekuensi {
    color: var(--Gray-500, #A2A1A8);

    /* Caption Regular */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 150% */
}