:root {
  --pc-900: #06253a;
  --pc-800: #2b4658;
  --pc-700: #4f31d0;
  --pc-600: #5d3de7;
  --pc-500: #7152f3;
  --pc-400: #9178fa;
  --pc-300: #b2a2f9;
  --pc-200: #cad6ff;
  --pc-100: #e6e2f8;
  --black: #000000;
  --grey-80: rgba(162, 161, 168, 0.8);
  --grey-20: rgba(162, 161, 168, 0.2);
  --menu-background: rgba(162, 161, 168, 0.05);
}
